
/* .navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 170px;

}

.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    color: rgb(88, 85, 85);
    gap: 60px;
    font-size: 18px;
    padding: 20px 30px;
    border-radius: 50px;;
     box-shadow: 
    0 10px 30px rgba(0, 0, 0, 0.15);
}

.nav-connect{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 2px;
    font-size: 20px;
    padding: 20px 40px;
    border-radius: 50px;
 box-shadow: 
    0 10px 30px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transition: 0.5s;
}

.nav-connect:hover{
    transform: scale(1.05);
} */